@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body {
    background: white;
    font-family: "Roboto", sans-serif;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    box-sizing: border-box;
    font-size: 65%;
}


* h2 {
    font-size: 2.2rem;
    margin: 0
}

* p {
    font-size: 2rem;
}

ul {
    list-style: none;
}

a:hover {
    text-decoration: none;
}

.ui-buttons {
    padding: 0;
}

.ui-buttons > li {
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
}

.ui-black,
.ui-white {
    padding: 8px 30px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 30px;
    font-size: 1.5rem;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: .2px;
    text-align: center;
    margin: 0 5px;
}

.ui-black {
    background: black;
    color: white;
}

.ui-white {
    background: #fc0000;
    border: 1px solid white;
}

.signIn {
    display: inline-block;
    vertical-align: middle;
    padding: 12px 14px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border: 1px solid white;
    border-radius: 30px;
    font-size: 17px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.47;
    letter-spacing: .2px;
    text-align: center;
}

.laptop {
    /*height: 100vh;*/
    overflow: hidden;
    position: relative;
}

.green-twig {
    background: fc0000;
    height: 650px;
}

.green-twig {
    position: relative;
    z-index: 10;
}

.green-twig > p {
  padding: 5px;
    margin: 0;
}

.green-twig:after {
      background: white;
      bottom: 0;
      content: '';
      display: block;
      height: 40%;
      left: 0;
      position: absolute;
      right: 0;
      transform: skewY(-10deg);
      transform-origin: 100%;
      z-index: 1;
  }


@media only screen and (max-width: 768px) {
    .green-twig:after {
        height: 27%;
    }
}

.column-left,
.column-right {
    width: 44%;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}

.column-right {
    width: 55%;
    right: 0;
    overflow: hidden;
    z-index: 256;
}

.column-right > img {
    width: 100%;
    height: auto;
    transform: translateX(15%);
    padding-top: 15%;
}

.column-left {
    padding-left: 70px;
    text-align: left;
}


@media screen and (max-width: 768px) {
    .column-right {
        display: none;
    }
    .column-left {
        display: block;
        width: 100%;
    }
}

@media only screen and (max-width: 414px) {
    .column-left {
        padding-left: 20px;
    }
}

.column-left > h1 {
    font-size: 3rem;
    letter-spacing: 1px;
    color: white;
}

.laptop-list {
    padding: 0;
}

.laptop-list > li {
    display: inline-block;
    color: white;
    font-size: 1.4rem;
    margin: 3px 5px;
    letter-spacing: .5px;
}

.laptop-list > li a {
   display: block;
    color: white;
    font-size: 1.2rem;
    margin: 3px 5px;
    letter-spacing: .5px;
}

/*we do section*/
.wedo {
    background: white;
}

.col-right,
.col-left {
    width: 47%;
    display: inline-block;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .col-right,
    .col-left {
        display: block;
        width: 100%;
    }
}

.module-img {
    margin-top: 20px;
}

.module-img > img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.module-text {
    vertical-align: middle;
    margin-left: 15px;
}


.module-text > h2 {
    font-family: "Roboto",sans-serif;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    margin: 3% auto;
    color: #6f6f6f;
    font-size: 2rem;
    letter-spacing: .5px;
}

.module-text > p {
    font-family: "Roboto",sans-serif;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    text-align: justify;
    font-size: 1.5rem;
    color: #6f6f6f;
    font-weight: 200;
}

/*ready to use section*/
.readytouse {
    background: #fc0000;
    text-align: center;
    padding: 5%;
}

.readytouse__heading {
    font-size: 2.5rem;
    letter-spacing: 3px;
    line-height: 1.5em;
    font-weight: 300;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    color: white;
}

.readytouse__text {
    font-size: 1.4rem;
    letter-spacing: 1px;
    line-height: 1.5em;
    font-weight: 100;
    font-family: "Roboto", sans-serif;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    margin:0;
    color: white;
}


/*appstore section*/
.appstore {
    padding-top: 5%;
}

.appstore__heading {
    font-weight: 400;
    font-size: 250%;
    line-height: 1.2em;
    font-family: "Roboto", sans-serif;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    color: #3599b9;
    margin-top: 0;
}

.img-responsive {
    display: inline-table;
}

.appstore__desc {
    font-size: 1.7rem;
    text-align: justify;
    font-weight: 300;
    line-height: 1.3em;
    font-family: "Roboto",sans-serif;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    color: #7d8182;
}

.appstore__link-item {
    display: inline-block;
}

.appstore__link-item--top {
    margin-bottom: 10.3%;
}

.appstore--alignment {
    text-align: right;
    font-size: 0;
}

.appstore--center {
    text-align: center;
}

@media only screen and (min-width: 1800px) {
    .appstore--alignment {
        text-align: left;
    }
    .appstore__link-item--top {
        margin-bottom: 9%;
    }
}

@media only screen and (min-width: 1800px) {
    .appstore--alignment {
        text-align: left;
    }
    .appstore__link-item--top {
        margin-bottom: 9%;
    }
}

@media only screen and (min-width: 2000px) {
    .appstore--alignment {
        text-align: left;
    }
    .appstore__link-item--top {
        margin-bottom: 6%;
    }
}
/*footer*/
.footer {
    background: rgba(0, 0, 0, 0.95);;
    color: #3599b9;
    padding: 4% 0;
    text-align: center;
}

.icons {
    list-style: none;
    margin: 0 0 3% 0;
    padding-left: 0;
}

.icons__item {
    display: inline-block;
}

.icons__logo {
    text-decoration: none!important;
    position: relative;
    color: #fff !important;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border: 0;
    border-radius: 100%;
    display: inline-block;
    font-size: 2.4rem;
    left: 0;
    text-align: center;
    text-decoration: none;
    top: 0;
}

.icons__logo:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    vertical-align: middle;
    text-transform: none !important;
}

.icons__logo--fa-twitter {
    color: #fff;
}

.icons__logo--fa-twitter:hover {
    /*background: #7fb7d2;*/
    /*top: -5px; */
}

.icons__logo--fa-twitter:before {
    content: "\f099";
}

.footer-menu {
    font-size: 1.4rem;
    line-height: 20px;
    padding-left: 0;
    margin-bottom: 0;
}

.footer-menu__item {
    display: inline-block;
    margin-left: 1em;
    padding-left: 1em;
    border-left: dotted 1px white;
    color: white
}

.footer-menu__item:first-child {
    margin: 0;
    padding: 0;
    border: 0;
}

.footer-menu__link {
    color: white;
}

@media screen and (max-width: 736px) {
    .footer-menu__item {
        display: block;
        margin: 3% 0 0 0;
        padding: 0;
        border: 0;
    }
}

/*feautures page*/

.img-data {
    z-index: 256;
    margin-top: -100px;
    padding-bottom: 100px;
}

.hello-feautures-img {
    height: 400px;
    overflow-y: hidden;
    width: auto;
    z-index: 10;
}

.main-features {
    padding-bottom: 2%;
    padding-top: 20%;
    background: fc0000;
    position: relative;
    z-index: 1;
}

.main-features:before {
    background: white;
    top: 0;
    content: '';
    display: block;
    height: 45%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(10deg);
    transform-origin: 100%;
    z-index: 1;
}

@media only screen and (max-width: 1024px) {
    .main-features {
        padding-top: 0;

    }
    .main-features:before {
        display: none;
    }
    .feautures-twig:after {
        display: none;
    }
}

.main-features__heading {
    text-align: left;
    color: white;
    margin: 30px 0;
    margin-left: 70px;
}

.feautures-columns {
    width: 32%;
    display: inline-block;
    min-height: 150px;
    vertical-align: middle;
}

@media only screen and (max-width: 640px) {
    .feautures-columns {
        width: 100%;
        display: block;
        min-height: 100px;
    }
}


.icon-boxes__content {
    /*margin-left: 70px;*/
    padding: 10px;

}

.icon-boxes__content-header {
    font-family: 'Roboto', sans-serif;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    color: white;
    line-height: 1.5;
    letter-spacing: .3px;
}

.icon-boxes__content-text,
.main-features__text {
    font-family: "Roboto", sans-serif;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-size: 1.3rem;
    color: white;
    line-height: 1.5;
    font-weight: 200;
}

.main-img {
    width: 80%;
}

/*pricing*/



.plan-wrapper {
    width: calc(99% / 3);
    display: inline-block;
    padding: 5px;
    height: auto;
    vertical-align: bottom;
}

@media only screen and (max-width: 768px) {
    .plan-wrapper {
        width: calc(99% / 2);
    }
}

@media only screen and (max-width: 500px) {
    .plan-wrapper {
        width: calc(99%);
    }
}

.featureCell {text-align: center; font-weight: 600; width: auto !important}

.most-popular {
    background: #fc0000;
    font-size: 1.2rem;
    color: white;
    margin: 0;
}

.plan-inner {
    background: #f2f2f2;
    padding: 10px;
    height: 400px;
    position: relative;
}

.plan-inner > h2 {
    font-size: 2rem;
}

.plan-inner > h3 {
    font-size: 1.4rem;
    font-weight: 300;
}

.plan-inner > p {
    font-size: 1.4rem;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 20px;
    line-height: 1.7;
}

.plan-inner > #contact-submit {
    width: calc(100% - 20px);
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}

.table-wrap {
    margin: 0 auto;
    /*padding: 40px;*/
    /*max-width: 800px;*/
    padding: 20px 0;
}

.table {
margin: 0 0 40px 0;
width: 100%;
box-shadow: 0 1px 3px rgba(0,0,0,0.2);
display: table;
}



.row-table {
    display: table-row;
    background: white;
}
.row-table:nth-of-type(odd){
background: #f2f2f2;
}





.cell {
    padding: 6px 12px;
    display: table-cell;
    font-size: 1.4rem;
}


/*partners*/
.partners-page {
    padding: 0px 0 20px;
}

.parners-page__heading {
    text-align: center;
    margin-bottom: 2rem;
}

.partners-img {
    text-align: center;
    margin-bottom: 70px;
}

.hardware {
    display: inline-block;
    width: auto;
    height: 80px;
    margin: 1%;
    text-align: center;
}

.software {
    display: inline-block;
    width: auto;
    height: 80px;
    margin: 2%;
    text-align: center;
}

@media only screen and (max-width: 375px) {
    .software,
    .hardware {
        height: 70px;
    }
}

/*solutions*/

/*.solutions-redesign {*/
    /*height: 70vh;*/
/*}*/

/*.solutions-twig:after {*/
    /*height: 67%;*/
/*}*/

.solutions-twig {
    height: 550px;
}
.pricing-twig {
    height: 650px;
}

@media only screen and (max-width: 768px) {
    .solutions-twig:after {
        height: 27%;
    }
}


.solutions-twig > .column-left {
    width: 70% !important;
    top: 50%;
}

@media only screen and (max-width: 768px) {
    .solutions-twig > .column-left {
        width: 100% !important;
        top: 45%;
    }
}

.solutions-twig > .column-left p {
    color: white;
    font-size: 1.5rem;
    letter-spacing: .5px;
    line-height: 1.7;
    padding: 5px;
    margin: 0;
}

.logo-before {
    position: relative;
    margin-left: 120px;
}


.logo-before:before {
    display: inline-block;
    width: 100px;
    height: 100px;
    content: "";
    background: url("../img/logo-circle.png")no-repeat;
    background-size: contain;
    position: absolute;
    top: 10px;
    left: -120px;

}


@media only screen and (max-width: 414px) {
    .logo-before {
        margin-left: 0;
    }
    .logo-before:before {
        display: none;
    }
}

.solutions__header {
    font-family: "Roboto", sans-serif;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    margin: 5% auto 3%;
}

.solutions__desc {
    font-family: "Roboto", sans-serif;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-size: 1.6rem;
    color: #999;
    line-height: 1.5;
    font-weight: 200;
    text-align: justify;
}

.solutions__link {
    color: #3599b9;
}

.solutions__padding {
    position: absolute;
    top: -100px;
}


@media only screen and (max-width: 480px) {
    .solutions__img {
        float: none;
        display: block;
        margin: 0 auto 5%;
    }
}

/*contact-form*/

.contact-form {
    padding: 0 0 50px;
}
.contain {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact-submit {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
    background: #F9F9F9;
    padding: 25px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact > fieldset label {
    font-size: 14px;
    font-weight: 300;
}

#contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact-submit {
    cursor: pointer;
    width: 50%;
    display: block;
    margin: 0 auto;
    border: 1px solid transparent;
    border-radius: 30px;
    background: #093358;
    color: #FFF;
    padding: 10px;
    font-size: 15px;
}

#contact-submit:hover {
    background: #fc0000;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact-submit:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}

@media only screen and (max-width: 375px) {
    .container {
        padding: 0;
        margin: 0;
    }
}